
.left-half-form {
    width: 50%;
    float: left;
    margin-top: 150px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.6;
    margin-left: 30px;
    margin-top: 50px;
}

.left-half-form label {
    font-family: system-ui;
    font-weight: bold;
}

.left-half-form .form-group {
    margin-bottom: 15px;
    font-family: system-ui;
}

.left-half-form .form-control {
    width: 100%; /* Ensures input fields take full width of the form */
    padding: 10px; /* Adds padding inside input fields */
    font-size: 20px; /* Increases font size for better readability */
    font-family: system-ui;
}

/*.right-side-content {*/
/*    width: 50%; !* Takes up the other half of the page *!*/
/*    float: right; !* Aligns to the right-hand side *!*/
/*    padding: 20px; !* Adds padding to the content *!*/
/*    !*background-color: #eaeaea; !* Optional: background color for the right side *!*!*/
/*    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); !* Optional: shadow for aesthetics *!*/
/*}*/

/*.left-half-form {*/
/*    font-family: Arial, sans-serif; !* Change font family *!*/
/*    font-size: 16px; !* Global font size for the form *!*/
/*}*/

.left-half-form label {
    font-size: 30px;
}

.left-half-form .form-control {
    font-size: 25px; /* Font size for input fields */
    padding: 10px; /* Adds padding inside the input and textarea fields */
}

.gold-button {
    color: #000000;
    background-image: linear-gradient(180deg, #f6e27a 20%, #cb9b51 80%);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    margin: 5px;
    border-width: 0;
    display: inline-flex;
    align-items: center;
    width: 50%;
    font-size: 30px;
    font-family: system-ui;

    box-shadow: 0 4px 12px 0 #ffcd57;
    transition: all 0.5s ease;

    justify-content: center;
    text-align: center;
    text-decoration: none;

    position: relative;
    overflow: hidden;
}

.left-half-form .gold-button:hover {
    background-color: #603838; /* Darkens the button on hover */
}
.left-half-form .form-group {
    text-align: center; /* Centers the button horizontally */
}

