
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Open Sans',Arial;
}

body {
    min-height: 100vh;
    background-image: url(writing-paper.png);
    background-size: cover;
    background-position: center;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 1.5rem;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
}

.logo {
    color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-left: 12px;
    cursor: pointer;
}

.fas {
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

.list-nav-bar {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    gap: 20px;
}

.list-item a {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
}

.list-item a:hover {
    color: rgb(12, 124, 255);
}

.burger-menu {
    display: none;
}

.main-content {
    text-align: center;
    margin-top: 25vh;
}

.main-content h1 {
    color: #0c7cff;
    font-size: 3.5rem;
}


@media screen and (max-width: 768px) {

    .list-item a {
        font-size: 2rem;
    }

    .logo {
        font-size: 2rem;
    }
}

@media screen and (max-width: 578px) {

    .list-item a {
        font-size: 2rem;

    }

    .list-nav-bar.active {
        right: 0;
    }

    .list-nav-bar {
        display: flex;
        position: fixed;
        right: -100%;
        top: 60px;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        flex-direction: column;
        transition: 0.7s;
        gap: 18px;
        border-radius: 0 0 10px 10px;
    }

    /*.burger-menu {*/
    /*    display: block;*/
    /*    cursor: pointer;*/
    /*}*/
}


/*.brand-logo {*/
/*    font-family: Tate regular, Arial, Helvetica, Neue, Helvetica, sans-serif;*/
/*    font-weight: 700;*/
/*    font-style: italic;*/
/*    text-shadow: 1px 1px 1px #004d40;*/
/*    font-size: 2rem;*/
/*}*/

/*.brand-logo span {*/
/*    font-size: 3rem;*/
/*    font-family: Tate regular, Arial, Helvetica, Neue, Helvetica, sans-serif;*/
/*    text-shadow: 0 0 5px #072750;*/
/*    color: #ea0e0e;*/
/*    margin-left: -5px;*/
/*    margin-right: -10px;*/
/*}*/

/*.menuli-adel {*/
/*    font-family: 'Tate regular', 'Arial', 'Helvetica', 'Neue', 'Helvetica', 'sans-serif';*/
/*    text-transform: uppercase;*/
/*    font-size: 3rem;*/
/*    margin-left: -6px;*/
/*}*/

/*.menuli-adel:hover {*/
/*    background: #6626e0 !important;*/
/*    color: #fff !important;*/
/*}*/

/*.menuli-side:active {*/
/*    border-bottom: 1px solid #009688;*/
/*}*/

/*.card-image p {*/
/*    font-size: 10px;*/
/*    font-family: 'Courgette', cursive;*/
/*    position: relative;*/
/*    top: 10%;*/
/*    left: 45%;*/
/*    margin-bottom: 2rem;*/
/*}*/

/*.sidemenu-title {*/
/*    margin-left: 25px;*/
/*}*/

/*.card {*/
/*    margin-top: 3vh;*/
/*}*/



/*nav ul {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*}*/

/*nav li {*/
/*    display: inline-block;*/
/*    margin-left: 70px;*/
/*    padding-top: 35px;*/
/*}*/

/*nav a {*/
/*    color: #800080;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    font-size: 18px;*/
/*}*/

/*.container {*/
/*    background: #008080;*/
/*    color: #ffffff;*/
/*    align-items: center;*/
/*    display: flex;*/
/*    *justify-content: center;*/
/*    *align-items: center;*/
/*    height: 15vh;*/
/*}*/

/*nav a:hover {*/
/*    color: #ff00ff;*/
/*}*/

/*img {*/
/*    width: 200px;*/
/*    height: auto; !* Automatically adjusts height to maintain aspect ratio *!*/
/*}*/

/*div {*/
/*    display: flex;*/
/*    justify-content: center; !* Horizontally centers the list *!*/
/*    align-items: center; !* Vertically centers the list (if needed) *!*/
/*    height: 100vh; !* Optional: If you want to center vertically as well *!*/
/*}*/

