
<nav class="nav-bar">
  <div class="icon-nav">
    <i class="fas fa-moon"></i>
    <span class="logo">
    <% if current_author %>
        <%= button_to "logout", destroy_author_session_path, method: :delete  %>
    <% else %>
      <%= link_to 'Login', new_author_session_path, method: :create %>
    <% end %>
    </span>
  </div>

  <ul class="list-nav-bar active">
    <li class="tab"><a href="#">Home</a></li>
    <li class="tab"><%=link_to "Start Writing", new_writing_outlet_path %></li>
    <li class="tab"><%=link_to "Your Writing", writing_outlets_path %></li>
    <li class="tab"><a href="#">Writing Groups</a></li>
  </ul>
  <div class="fas burger-menu" id="burger-menu">&#9776;</div>
</nav>